*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8B4513;
    margin-left: 7%;
}

#subtitulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8B4513;
    margin-left: 10%;
}

fieldset{
    border: 0;
}

body{
    background-color: #DEB887;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: #8B4513;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #5e360f;
    display: block;
}

fieldset.grupo.campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #F5F5DC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;

}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: #D2691E;
}

.botao{
    font-size: 1.2em;
    background-color: #A0522D ;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    

}